#
# * Galera-related settings
#
# See the examples of server wsrep.cnf files in /usr/share/mysql
# and read more at https://mariadb.com/kb/en/galera-cluster/

[galera]
# Mandatory settings
wsrep_on                 = ON
wsrep_cluster_name       = {{ galera_cluster_name }}
wsrep_cluster_address    = gcomm://"{{ galera_cluster_nodes | join(',') }}"
#binlog_format            = row
default_storage_engine   = InnoDB
#innodb_autoinc_lock_mode = 2

# Allow server to accept connections on all interfaces.
bind-address = {{ ansible_default_ipv4.address }}

# Optional settings
#wsrep_slave_threads = 1
#innodb_flush_log_at_trx_commit = 0

